*{
    font-family: "Viaoda Libre", serif;
}

h1{
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
}

a{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

a:hover{
    color: slategray;
}

.topnav{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}

.main{
    display: flex;
    position: relative;
    height: 90vh;
    text-align: center;
}

.left_main{
    flex: 1;
    left: 0;
    align-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 5;
    gap: 20px;
}

.left_main div{
    border-style: solid;
    border-radius: 10px;
}

.left_main div.photo3{
    grid-column: 2;
    grid-row: 1 / span 2;
}

.left_main div.photo4{
    grid-column: 1 / span 2;
}

.right_main{
    flex: 1;
    right: 0;
}

#name{
    position: absolute;
    padding-top: 100px;
    text-align: center;
    width: 35%;
    justify-self: center;
}

.footer{
    display: flex;
    position: fixed;
    width: 35%;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
    margin-right: 15px;
    border-style: solid;
    border-width: small;
    border-color: black;
    text-align: left;
    justify-content: space-around;
}

.left_footer{
    width: 30%;
}

.right_footer{
    width: 30%;
    text-align: right;
    align-content: flex-end;
}

.left_main_about{
    flex: 1;
    left: 0;
}
